<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764322584111-bhp0nsb5lrp81kg75i6fda0hbpi6r8jm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764322584111-bhp0nsb5lrp81kg75i6fda0hbpi6r8jm</string>
	<key>API_KEY</key>
	<string>AIzaSyAcVFWe4uD8t7iNJ0t_haUjLVCGIKcCDWA</string>
	<key>GCM_SENDER_ID</key>
	<string>764322584111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dogsandpigs</string>
	<key>PROJECT_ID</key>
	<string>dogsnpigs-d1dd5</string>
	<key>STORAGE_BUCKET</key>
	<string>dogsnpigs-d1dd5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764322584111:ios:aa2a28797f3a028dc158da</string>
	<key>DATABASE_URL</key>
	<string>https://dogsnpigs-d1dd5.firebaseio.com</string>
</dict>
</plist>